section.fekit-carousel-1
	.container
		.row
			.col
				article.owl-carousel.owl-theme.list-items
					.item
						a(href='#')
							img(src='./asset/img/clients/0002.png', alt='')
					.item
						a(href='#')
							img(src='./asset/img/clients/0003.png', alt='')
					.item
						a(href='#')
							img(src='./asset/img/clients/0004.png', alt='')
					.item
						a(href='#')
							img(src='./asset/img/clients/0005.png', alt='')
					.item
						a(href='#')
							img(src='./asset/img/clients/0006.png', alt='')
					.item
						a(href='#')
							img(src='./asset/img/clients/0007.png', alt='')
					.item
						a(href='#')
							img(src='./asset/img/clients/0008.png', alt='')
