section#number-animation.number-animation(style="background:url('asset/img/saladci/background/bg-2.jpg')")
    .container
        .row
            .col-sm-6.col-lg-3
                .item
                    figure
                        i.fas.fa-business-time
                    figcaption
                        h3 Năm Kinh nghiệm
                        p.number.count__number(data-to="5") 0
            .col-sm-6.col-lg-3
                .item
                    figure
                        i.far.fa-building
                    figcaption
                        h3 Công trình hoàn thành
                        p.number.count__number(data-to="128") 0
            .col-sm-6.col-lg-3
                .item
                    figure
                        i.fas.fa-award
                    figcaption
                        h3 Giải thưởng quốc gia
                        p.number.count__number(data-to="8") 0
            .col-sm-6.col-lg-3
                .item
                    figure
                        i.far.fa-smile
                    figcaption
                        h3 Khách hàng hài lòng
                        p.number.count__number(data-to="520") 0
