section.fekit-slider-1
    article.owl-carousel.owl-theme.list-items
        .item
            figure
                .box__img
                img(src="./asset/img/saladci/slider/slider-01.jpg", alt="")
                figcaption
                    h3 Chủ đề banner
                    p Nội dung chi tiết giới thiệu của banner là gì. Đang có chương trình khuyến mãiNội dung chi tiết giới thiệu của banner là gì. Đang có chương trình khuyến mãi
                    a.btn.btn-outline-fekit(href="javascript:void(0)") Xem thêm
                    a.btn.btn-outline-fekit-2(href="javascript:void(0)") Mua ngay
        .item
            figure
                .box__img
                img(src="./asset/img/saladci/slider/slider-02.jpg", alt="")
                figcaption
                    h3 Chủ đề banner
                    p Nội dung chi tiết giới thiệu của banner là gì. Đang có chương trình khuyến mãiNội dung chi tiết giới thiệu của banner là gì. Đang có chương trình khuyến mãi
                    a.btn.btn-outline-fekit(href="javascript:void(0)") Xem thêm
                    a.btn.btn-outline-fekit-2(href="javascript:void(0)") Mua ngay
        .item
            figure
                .box__img
                img(src="./asset/img/saladci/slider/slider-03.jpg", alt="")
                figcaption
                    h3 Chủ đề banner
                    p Nội dung chi tiết giới thiệu của banner là gì. Đang có chương trình khuyến mãiNội dung chi tiết giới thiệu của banner là gì. Đang có chương trình khuyến mãi
                    a.btn.btn-outline-fekit(href="javascript:void(0)") Xem thêm
                    a.btn.btn-outline-fekit-2(href="javascript:void(0)") Mua ngay
        .item
            figure
                .box__img
                img(src="./asset/img/saladci/slider/slider-04.jpg", alt="")
                figcaption
                    h3 Chủ đề banner
                    p Nội dung chi tiết giới thiệu của banner là gì. Đang có chương trình khuyến mãiNội dung chi tiết giới thiệu của banner là gì. Đang có chương trình khuyến mãi
                    a.btn.btn-outline-fekit(href="javascript:void(0)") Xem thêm
                    a.btn.btn-outline-fekit-2(href="javascript:void(0)") Mua ngay
