section.fekit-box-1
    .container
        .title
            h2 <strong>Dịch vụ</strong> chúng tôi
            p Lấy con người và môi trường làm trọng tâm, cùng chia sẻ kết quả với đối tác, <br> theo đuổi đến cùng mục tiêu kinh doanh.
            hr.size
        .row
            .col-md-6
                a(href="#")
                    .item
                        .box
                        .item__left(style="background-image:url('asset/img/vecasa/index/to-chuc-su-kien.jpg')")
                        h3 Tổ chức sự kiện
                        a.item__more(href="javascript:void(0)") Xem chi tiết
            .col-md-6
                a(href="#")
                    .item
                        .box
                        .item__right(style="background-image:url('asset/img/vecasa/gioi-thieu/g-1.jpg')")
                        h3 Xúc tiến thương mại
                        a.item__more(href="javascript:void(0)") Xem chi tiết

