footer.fekit-footer-1
    .container
        .row.justify-content-center
            .col-12.col-sm-9.col-lg-4.footer__top
                figure
                    .box-img
                        img(src="./asset/img/saladci/logo-flex.png")
                    figcaption
                        .footer__content
                            h5.text-center Công Ty Thiết Kế<br>Xây Dựng XNK SALA
                            a(href="javascript:void(0)") 194 Nguyễn Văn Lượng, Phường 17, Quận Gò Vấp, Thành phố Hồ Chí Minh
                            a(href="javascript:void(0)") <span class="strong">Hotline:&nbsp&nbsp</span>093 411 3918
                            a(href="javascript:void(0)") <span class="strong">Email:&nbsp&nbsp&nbsp&nbsp</span>dinhtrung@saladci.com
                            a(href="javascript:void(0)") <span class="strong">Website:</span>https://www.saladci.com
            .col-xs-12.col-sm-6.col-lg-4.footer__mid
                h5 TIN TỨC MỚI
                .footer__content
                    a(href="javascript:void(0)") Tại sao bạn nên chọn dịch vụ thiết kế xây dựng Saladci? 01/04/2019
                    a(href="javascript:void(0)") Xu hướng trang trí nhà yêu thích trong năm 2019 01/01/2019
                    a(href="javascript:void(0)") 5 bí quyết để thiết kế đơn giản và đẹp 13/08/2015
                    a(href="javascript:void(0)") 9 cách độc đáo và khác thường để hiển thị TV của bạn 12/08/2015
                    a(href="javascript:void(0)") 5 điều có một căn phòng tuyệt vời 11/08/2015
            .col-xs-12.col-sm-6.col-lg-4.footer__mid
                h5 MẠNG XÃ HỘI
                .footer__content
                .fb-page(data-href="https://www.facebook.com/thietkexaydungsaladci/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true")
                blockquote(cite="https://www.facebook.com/thietkexaydungsaladci/" class="fb-xfbml-parse-ignore")
        .row.copyright
            .col
                | © Copyright © 2018 Saladci. All right reserved. Designed by <a href="https://www.facebook.com/FpolyHub-332282757626644" class="author">FpolyHub</a>
#fb-root
script(async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.3")
