section.fekit-form-1
    .container
        .title
            h2 <strong>Liên hệ</strong> chúng tôi
            p Lấy con người và môi trường làm trọng tâm, cùng chia sẻ kết quả với đối tác, <br> theo đuổi đến cùng mục tiêu kinh doanh.
            .separator
                i.fas.fa-circle
        form(action='', method='post', novalidate='novalidate')
            .row
                .col-sm-3
                    input(type='text' placeholder="Họ và tên của bạn")
                    input(type='text' placeholder="Địa chỉ email của bạn")
                    input(type='text' placeholder="Số điện thoại của bạn")
                .col-sm-5
                    textarea(, rows="11" placeholder="Nội dung thư của bạn")
                .col-sm-4
                    .form__content--right
                        h6 Thông tin liên lạc
                        a(href="javascript:void(0)") 194 Nguyễn Văn Lượng, P.17, Q.Gò Vấp, TP Hồ Chí Minh
                        a(href="javascript:void(0)") <span class="strong">Hotline:&nbsp&nbsp&nbsp&nbsp</span>093 411 3918
                        a(href="javascript:void(0)") <span class="strong">Email:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</span>dinhtrung@saladci.com
                        a(href="javascript:void(0)") <span class="strong">Website:&nbsp&nbsp</span>https://www.saladci.com
                        a(href="javascript:void(0)") <span class="strong">Làm việc:</span>Từ thứ Hai đến thứ Sáu 08:00 - 17:00
            .row
                .col-12.mt-2
                    input.input__submit(type='submit' value="Gửi yêu cầu")

    iframe( src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.642334475861!2d106.6719913143372!3d10.838659361006837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317529680ff6bacf%3A0x152c2674cfd3f653!2zMTk0IE5ndXnhu4VuIFbEg24gTMaw4bujbmcsIFBoxrDhu51uZyAxMCwgR8OyIFbhuqVwLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1546332145654" width="100%" height="500" frameborder="0" style="border: 0px; pointer-events: none;" allowfullscreen="")
