section.fekit-newsdetail-1
    .container
        .row
            .col-lg-9
                .box__detail
                    h2 Kỹ năng cần có của một người Tổ chức sự kiện
                    i Để hoạt động tổ chức sự kiện của một Công ty Tổ chức sự kiện cũng như kỹ năng của một người làm tổ chức sự kiện đi vào chiều sâu và chuyên nghiệp hơn, cần rất rất nhiều thời gian. Tuy nhiên, theo đánh giá, lĩnh vực tổ chức sự kiện tại Việt Nam hiện nay chưa hề có những trường
                    h3 Để định hướng trở thành một Chuyên gia Tổ chức Sự kiện?
                    h4 Đánh giá đúng về bản thân:
                    p Không gì quan trọng bằng việc bạn biết mình là ai? Tự hỏi xem mình có những kỹ năng gì, kỹ năng nào đã được hoàn thiện, kỹ năng nào cần rèn luyện, trau dồi, kỹ năng nào cần phải phát triển, và cuối cùng là những kỹ năng bạn có có thể hỗ trợ gì cho bạn trong ước mơ trở thành chuyên gia tổ chức sự kiện. Để nói về kỹ năng để làm sự kiện thì có thể nói là nhiều vô số kể và cần được trau dồi trong suốt cả khoảng thời gian làm nghề. Tuy nhiên, có thể xét đến một số Tố chất thiết yếu: óc tổ chức tốt, có khả năng quản lý quĩ thời gian, trí tưởng tượng phong phú, khả năng giao tiếp tốt, phản xạ nhạy bén trong những tình huống khẩn cấp.
                        figure
                            img.w-100.my-2.px-4(src="asset/img/vecasa/news-detail/n-d-1.jpg", alt="")
                            figcaption.text-align-center
                                i Nguồn Hội nghị ABC 22/08/2019
                    h4 Đánh giá đúng về bản thân:
                    p Không gì quan trọng bằng việc bạn biết mình là ai? Tự hỏi xem mình có những kỹ năng gì, kỹ năng nào đã được hoàn thiện, kỹ năng nào cần rèn luyện, trau dồi, kỹ năng nào cần phải phát triển, và cuối cùng là những kỹ năng bạn có có thể hỗ trợ gì cho bạn trong ước mơ trở thành chuyên gia tổ chức sự kiện. Để nói về kỹ năng để làm sự kiện thì có thể nói là nhiều vô số kể và cần được trau dồi trong suốt cả khoảng thời gian làm nghề. Tuy nhiên, có thể xét đến một số Tố chất thiết yếu: óc tổ chức tốt, có khả năng quản lý quĩ thời gian, trí tưởng tượng phong phú, khả năng giao tiếp tốt, phản xạ nhạy bén trong những tình huống khẩn cấp.
                    h3 Để định hướng trở thành một Chuyên gia Tổ chức Sự kiện?
                    h4 Đánh giá đúng về bản thân:
                    p Không gì quan trọng bằng việc bạn biết mình là ai? Tự hỏi xem mình có những kỹ năng gì, kỹ năng nào đã được hoàn thiện, kỹ năng nào cần rèn luyện, trau dồi, kỹ năng nào cần phải phát triển, và cuối cùng là những kỹ năng bạn có có thể hỗ trợ gì cho bạn trong ước mơ trở thành chuyên gia tổ chức sự kiện. Để nói về kỹ năng để làm sự kiện thì có thể nói là nhiều vô số kể và cần được trau dồi trong suốt cả khoảng thời gian làm nghề. Tuy nhiên, có thể xét đến một số Tố chất thiết yếu: óc tổ chức tốt, có khả năng quản lý quĩ thời gian, trí tưởng tượng phong phú, khả năng giao tiếp tốt, phản xạ nhạy bén trong những tình huống khẩn cấp.
                    p Không gì quan trọng bằng việc bạn biết mình là ai? Tự hỏi xem mình có những kỹ năng gì, kỹ năng nào đã được hoàn thiện, kỹ năng nào cần rèn luyện, trau dồi, kỹ năng nào cần phải phát triển, và cuối cùng là những kỹ năng bạn có có thể hỗ trợ gì cho bạn trong ước mơ trở thành chuyên gia tổ chức sự kiện. Để nói về kỹ năng để làm sự kiện thì có thể nói là nhiều vô số kể và cần được trau dồi trong suốt cả khoảng thời gian làm nghề. Tuy nhiên, có thể xét đến một số Tố chất thiết yếu: óc tổ chức tốt, có khả năng quản lý quĩ thời gian, trí tưởng tượng phong phú, khả năng giao tiếp tốt, phản xạ nhạy bén trong những tình huống khẩn cấp.
                    p.text-align-right Theo <i>Duy Thiên</i>
                .box__feedback
                    .row.justify-content-center
                        .col-md-12
                            ul#pills-tab.nav.nav-pills.mb-3(role='tablist')
                                li.nav-item
                                    a#pills-profile-tab.nav-link.active(data-toggle='pill', href='#loai02', role='tab', aria-controls='loai02', aria-selected='false') Bình luận (1)
                            #pills-tabContent.tab-content
                                #loai02.tab-pane.active(role='tabpanel', aria-labelledby='pills-profile-tab')
                                    .row.justify-content-center
                                        .col-md-10
                                            .feedback__acount.feedback__acount--first
                                                h3 <strong>Vũ Hồng Sơn</strong> - sonvh@gmail.com
                                                p Mục đích cuối cùng của việc viết bài đánh giá vẫn là thuyết phục người đọc mua hàng theo link sản phẩm bạn giới thiệu. Chính vì thế trong bài viết đánh giá bạn nên khéo léo thêm vào các CTA (Call to action) – lời kêu gọi hành động để người dùng click vào mua hàng.
                                            .feedback__acount.feedback__acount--first
                                                h3 <strong>Vũ Hồng Sơn</strong> - sonvh@gmail.com
                                                p Mục đích cuối cùng của việc viết bài đánh giá vẫn là thuyết phục người đọc mua hàng theo link sản phẩm bạn giới thiệu. Chính vì thế trong bài viết đánh giá bạn nên khéo léo thêm vào các CTA (Call to action) – lời kêu gọi hành động để người dùng click vào mua hàng.
                                    .row.justify-content-center
                                        .col-md-8.col-lg-6
                                            .feedback__form
                                                h3 Viết bình luận
                                                form(action='', method='post', novalidate='novalidate')
                                                    p
                                                        label
                                                            | Tên của bạn (required)
                                                            br
                                                            span
                                                                input(type='text', name='your-name', value='', size='40', aria-required='true', aria-invalid='false')
                                                    p
                                                        label
                                                            | Email liên hệ (required)
                                                            br
                                                            span
                                                                input(type='email', name='your-email', value='', size='40', aria-required='true', aria-invalid='false')
                                                    p
                                                        label
                                                            | Tiêu đề
                                                            br
                                                            span
                                                                input(type='text', name='your-subject', value='', size='40', aria-invalid='false')
                                                    p
                                                        label
                                                            | Tin nhắn cho chúng tôi
                                                            br
                                                            span
                                                                textarea(name='your-message', cols='40', rows='5', aria-invalid='false')
                                                    p
                                                        input.btn.btn-success.btn-block(type='submit', value='Gửi')

            .col-lg-3
                .side__bar
                    .box__news
                        h2 Các tin tức khác
                    .row
                        .col-sm-6.col-lg-12
                            .news__items
                                a(href="")
                                    figure
                                        img(src="asset/img/vecasa/news-detail/n-1.jpg", alt="")
                                        figcaption
                                            h3  Những bài học đắt giá đằng sau 8 cuốn sách kinh doanh hay nhất mọi thời đại
                        .col-sm-6.col-lg-12
                            .news__items
                                a(href="")
                                    figure
                                        img(src="asset/img/vecasa/news-detail/n-1.jpg", alt="")
                                        figcaption
                                            h3  Những bài học đắt giá đằng sau 8 cuốn sách kinh doanh hay nhất mọi thời đại
                        .col-sm-6.col-lg-12
                            .news__items
                                a(href="")
                                    figure
                                        img(src="asset/img/vecasa/news-detail/n-1.jpg", alt="")
                                        figcaption
                                            h3  Những bài học đắt giá đằng sau 8 cuốn sách kinh doanh hay nhất mọi thời đại
