section.fekit-nav-1
    .container
        .row
            .col-12
                .car__step
                    .step.step__finish
                        a.step__link(href="gio-hang.html")
                            .step__number
                                .num__check
                                    i.fas.fa-check
                                .num 1
                            .step__name Giỏ hàng
                    .step.step__active
                        a.step__link(href="gio-hang-dang-nhap.html")
                            .step__number
                                .num__check
                                    i.fas.fa-check
                                .num 2
                            .step__name Đăng nhập
                    .step
                        a.step__link(href="gio-hang-thong-tin-giao-hang.html")
                            .step__number
                                .num__check
                                    i.fas.fa-check
                                .num 3
                            .step__name Thông tin giao hàng
                    .step
                        a.step__link(href="gio-hang-hinh-thuc-thanh-toan.html")
                            .step__number
                                .num__check
                                    i.fas.fa-check
                                .num 4
                            .step__name Hình thức thanh toán
