section.fekit-news-1
    .container
        .title
            h2 <strong>Tin tức</strong> nổi bật
            p Lấy con người và môi trường làm trọng tâm, cùng chia sẻ kết quả với đối tác, <br> theo đuổi đến cùng mục tiêu kinh doanh.
            .separator
                i.fas.fa-circle
        .row
            .col-12
                article.owl-carousel.owl-theme.list-items
                    .item
                        a(href="tin-tuc-chi-tiet.html")
                            figure
                                img(src="asset/img/saladci/tin-tức/tin-tức-01.jpg", alt="")
                                figcaption
                                    h3 Kết quả sản xuất kinh doanh tháng đầu năm 2018 đó, các khách hàng
                                    p Ngày nay, xu hướng trang trí nhà cửa đang dần trở thành công việc mang tính nghệ thuật thường thức. Các chủ nhà ngày càng có nhiều sự lựa chọn, cơ hội thay đổi và làm mới không gian sống. Để tìm hiểu rõ hơn về các phong cách trang trí nhà cửa trong năm
                    .item
                        a(href="tin-tuc-chi-tiet.html")
                            figure
                                img(src="asset/img/saladci/tin-tức/tin-tức-02.jpg", alt="")
                                figcaption
                                    h3 Kết quả sản xuất kinh doanh tháng đầu năm 2018 đó, các khách hàng
                                    p Ngày nay, xu hướng trang trí nhà cửa đang dần trở thành công việc mang tính nghệ thuật thường thức. Các chủ nhà ngày càng có nhiều sự lựa chọn, cơ hội thay đổi và làm mới không gian sống. Để tìm hiểu rõ hơn về các phong cách trang trí nhà cửa trong năm

                    .item
                        a(href="tin-tuc-chi-tiet.html")
                            figure
                                img(src="asset/img/saladci/tin-tức/tin-tức-03.jpg", alt="")
                                figcaption
                                    h3 Kết quả sản xuất kinh doanh tháng đầu năm 2018 đó, các khách hàng
                                    p Ngày nay, xu hướng trang trí nhà cửa đang dần trở thành công việc mang tính nghệ thuật thường thức. Các chủ nhà ngày càng có nhiều sự lựa chọn, cơ hội thay đổi và làm mới không gian sống. Để tìm hiểu rõ hơn về các phong cách trang trí nhà cửa trong năm

                    .item
                        a(href="tin-tuc-chi-tiet.html")
                            figure
                                img(src="asset/img/saladci/tin-tức/tin-tức-04.jpg", alt="")
                                figcaption
                                    h3 Kết quả sản xuất kinh doanh tháng đầu năm 2018 đó, các khách hàng
                                    p Ngày nay, xu hướng trang trí nhà cửa đang dần trở thành công việc mang tính nghệ thuật thường thức. Các chủ nhà ngày càng có nhiều sự lựa chọn, cơ hội thay đổi và làm mới không gian sống. Để tìm hiểu rõ hơn về các phong cách trang trí nhà cửa trong năm

                    .item
                        a(href="tin-tuc-chi-tiet.html")
                            figure
                                img(src="asset/img/saladci/tin-tức/tin-tức-05.jpg", alt="")
                                figcaption
                                    h3 Kết quả sản xuất kinh doanh tháng đầu năm 2018 đó, các khách hàng
                                    p Ngày nay, xu hướng trang trí nhà cửa đang dần trở thành công việc mang tính nghệ thuật thường thức. Các chủ nhà ngày càng có nhiều sự lựa chọn, cơ hội thay đổi và làm mới không gian sống. Để tìm hiểu rõ hơn về các phong cách trang trí nhà cửa trong năm
